@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>idToken</h3>
    <p>@ViewData["idToken"]</p>
    <dl>
        @foreach(var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dt>@claim.Value</dt>
        }
    </dl>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
